.home-contaoner{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   text-align: center;
   /* background-color: red; */
   padding-top: 10px;
}
.right-container img{
    height: 650px;
}

.left-container{
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}
.title-text h1{
    font-weight: 500;
    font-size: 40px;
    text-align: start;
    font-weight: bolde;
    justify-content: start;
    line-height: 0.8em;
    font-weight: 800;
}


.title-text h1 .span{
    color: var(--color-red);
}
.contant p{
    text-align: start;
    color: var(--para-light);
}


@media screen and (max-width: 700px) {
 .home-contaoner{
    display: flex;
    flex-direction: column;
 }
 .left-container h1{
    font-size: medium;
    
 }
 .right-container img{
    padding-top: 15px;
    height: 400px;
 }
}

