.home-contaoner{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   text-align: center;
   
}
.right-container{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.left-container{
    
    border-radius: 10px;
}

.title-text h1 span{
    color: var(--color-red);
}
.contant p{
    color: var(--para-light);
}

@media screen and (max-width: 500px) {
 .home-contaoner{
    display: flex;
    flex-direction: column-reverse;
 }   
 .title-text h1{
    font-size: medium;
} 
}